---
import { Post, User, asc, db, eq } from "astro:db"
import { marked } from "marked"
import Layout from "../layouts/Base.astro"

import TG from "@/components/TG.astro"
import ZOOM from "@/components/ZOOM.astro"

// вовод с именами пользователей которые добавили пост
const postsList = await db
	.select()
	.from(Post)
	.innerJoin(User, eq(Post.userId, User.id))
	.orderBy(asc(Post.id))

// const postsListAA = await db
// 	.select()
// 	.from(Post)
// 	.innerJoin(User, eq(Post.userId, User.id))
// 	.where(like(Post.title, "%АА%"))
// 	.orderBy(asc(Post.id))
---

<Layout title="12 шагов: группы, материалы и проекты." description="">
	<div class="pt-12 flex flex-col gap-6 pb-28 text-center w-full mx-auto md:max-w-2xl">
		<h1 class="tracking-tighter text-4xl md:text-6xl font-black">
			Ищите группы по интересу и по вашим задачам 👋
		</h1>
		<p class="text-zinc-600">
			12-ти шаговые группы, проекты и материалы разных зависимостей <i
				><b>(сообществ)</b></i
			> и направлений.
		</p>
		<aside class="flex justify-center gap-3">
			<a href="https://t.me/step1_12" target="_blank" class="text-blue-500">об проекте</a
			>
			▫
			<a href="https://t.me/step1_12/2" target="_blank" class="text-blue-500"
				>Поддержать проект</a
			>
		</aside>
	</div>

	<section class="grid md:grid-cols-2 items-start lg:grid-cols-3 gap-5 grid-cols-1">
		{
			postsList &&
				postsList
					.sort((a, b) => b.Post.id - a.Post.id)
					.map((post, index) => (
						<article
							id={`пост: ${post.Post.id}`}
							class={
								index === 0 ? "relative ring-1 rounded-lg ring-amber-500" : "relative"
							}
						>
							<main
								class="bg-white border rounded-lg border-gray-200  
              p-5 flex flex-col gap-3"
							>
								<div class="flex justify-between items-center">
									<span class=" font-medium text-zinc-400 text-sm">
										👤 {post?.User?.username}
									</span>
									<span
										class={index === 0 ? "text-sm text-amber-500 font-bold" : "hidden"}
									>
										новая 🔥
									</span>
								</div>
								<h2 class="text-xl font-bold">{post.Post.title}</h2>
								<div class="prose text-sm" set:html={marked(post.Post.description)} />
								<a
									href={`https://${post?.Post?.link}`}
									id="link"
									target="_blank"
									class={`text-sm flex justify-center gap-3 items-center px-5 py-2.5 text-center rounded-md 
    ${
			post?.Post?.link.startsWith("t.me")
				? "bg-sky-100 text-sky-700 ring-1 ring-sky-200"
				: post?.Post?.link.startsWith("zoom")
					? "bg-blue-100 text-blue-700 ring-1 ring-blue-200"
					: "bg-green-100 text-green-700 ring-1 ring-green-200"
		}`}
								>
									{post?.Post?.link.startsWith("t.me") ? <TG /> : ""}
									{post?.Post?.link.startsWith("zoom") ? <ZOOM /> : ""}
									Войти на группу
								</a>
							</main>
						</article>
					))
		}
	</section>
</Layout>
