---
import { Post, User, asc, db, eq } from "astro:db"
import { marked } from "marked"
import Layout from "../layouts/Base.astro"

// вовод с именами пользователей которые добавили пост
const postsList = await db
	.select()
	.from(Post)
	.innerJoin(User, eq(Post.userId, User.id))
	.orderBy(asc(Post.id))

// export const prerender = false
---

<Layout>
	<section class="grid md:grid-cols-2 items-start lg:grid-cols-3 gap-5 grid-cols-1">
		{
			postsList &&
				postsList.map((post: any) => (
					<article id={`пост: ${post.Post.id}`}>
						{/* <span class="text-green-500">{post?.User?.username}</span> */}
						<main class="bg-white border border-gray-200 rounded-lg p-5">
							<h2 class="text-xl font-bold mb-3">{post.Post.title}</h2>
							<div class="prose text-sm" set:html={marked(post.Post.description)} />
							<a href={`https://${post?.Post?.link}`}>
								{post.Post.link.replace("https://", "")}
							</a>
						</main>
					</article>
				))
		}
	</section>
</Layout>
