---
import Logo from "@/components/Logo.astro"

const user = Astro.locals.user

function formatCanonicalURL(url: string | URL) {
	const path = url.toString()
	const hasQueryParams = path.includes("?")
	if (hasQueryParams) {
		path.replace(/\/?$/, "")
	}
	return path.replace(/\/?$/, hasQueryParams ? "" : "/")
}

const { title, description } = Astro.props

// const title = "12 шагов: группы, материалы и проекты."
// const description = ""
const author = "@legion_free"
const ogImage = `${Astro.site}images/ogImage.png`

const finalDesc =
	description ||
	"Группы разных форматов, материалы и проекты, которые связанны с 12 шагами и принципами. 12x12"

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={formatCanonicalURL(canonicalURL)} />

		<meta name="title" content={title} />
		<meta name="description" content={finalDesc} />
		<meta name="author" content={author} />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={finalDesc} />

		<meta property="og:image" content={ogImage} />

		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />

		<meta property="og:locale" content="ru_RU" />
		<meta property="og:site_name" content="12 шагов - группы" />

		<meta name="robots" content="index, follow" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta name="yandex-verification" content="" />

		<title>{title}</title>
	</head>
	<body class="scroll-smooth bg-zinc-100 text-zinc-900">
		<div class="mx-auto container max-w-4xl px-5">
			<header
				class="bg-white w-full mt-5 rounded-xl py-5 px-5 md:px-8 gap-3 flex justify-between items-center"
			>
	<a href="/">			<Logo /></a>
				{
					user ? (
						<div class="flex items-center gap-3">
							<a
								class=" bg-white transition-all duration-75 ease-linear hover:bg-zinc-100 border font-medium rounded-lg text-sm px-5 py-2.5 "
								href="/admin"
							>
								Добавить
							</a>
							<form method="POST" action="/api/signout">
								<button
									class=" text-white bg-red-600 font-medium rounded-lg text-sm px-5 py-2.5 "
									type="submit"
								>
									Выйти
								</button>
							</form>
						</div>
					) : (
						<a
							class="text-white bg-zinc-900 font-medium rounded-lg text-sm px-5 py-2.5"
							href="/signin"
						>
							Войти
						</a>
					)
				}
			</header>

			<main class="py-12">
				<slot />
			</main>
		</div>
	</body>
</html>
